.foot{
    width: 1540px;
    height: 88px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    background: #746471;
    &__con{
        height: 100%;
    }
    &__list{
        display: flex;
        height: 100%;
        column-gap: 168px;
        align-items: center;
    }
    &__item{
        color: white;
    }
    &__select{
        background-color: #746471;
        color: white;
        border: 0px solid;
    }
}

@media only screen and (max-width: 391px){
    .foot{
        width: 390px;
        height: 270px;
        border: 1px solid;
        margin-top: 450px;
        &__list{
            flex-direction: column;
            
        }
        &__item{
            margin: 15px;
        }
    }
    
}